/* @font-face {
    font-family: 'Frank', sans-serif;
    src: url("./FrankLight.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Frank', sans-serif;
    src: url("./FrankRegular.woff") format("woff");
    font-style: normal;
    font-weight: 500;
} */